!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Zodiac Mini"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body

    = yield

    = javascript_include_tag "application"


    // Sign in
    %script{"data-template-name" => "sessions/new", type: "text/x-handlebars"}
      {{sign-in-form submit="submit" submitTitle="Sign in"}}

    %script{"data-template-name" => "components/sign-in-form", type: "text/x-handlebars"}
      .row
        .small-12.medium-6.medium-offset-3.columns
          <form {{action "submit" on="submit"}}>
          %fieldset
            %legend Sign in

            %label Email {{input type="email" value=email}}
            %label Password {{input type="password" value=password}}

            <input class="button" type="submit" {{bind-attr value=submitTitle}}>
            %span or
            {{#link-to 'users.new'}}Register{{/link-to}}


    // Registration
    %script{"data-template-name" => "users/new", type: "text/x-handlebars"}
      {{sign-up-form submit="createUser" submitTitle="Register"}}

    %script{"data-template-name" => "components/sign-up-form", type: "text/x-handlebars"}
      .row
        .small-12.medium-6.medium-offset-3.columns
          <form {{action "submit" on="submit"}}>
          %fieldset
            %legend Sign up

            %label Email {{input type="email" value=email}}
            %label Birthday {{input type="date" value=birthday}}
            %label Password {{input type="password" value=password}}
            %label Password Confirmation {{input type="password" value=password_confirmation}}

            <input class="button" type="submit" {{bind-attr value=submitTitle}}>
            %span or
            {{#link-to 'sessions.new'}}Sign in{{/link-to}}


    // Users list
    %script{"data-template-name" => "users/index", type: "text/x-handlebars"}
      // Header
      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              %a{:href => "#"} Zodiac Mini
        %section.top-bar-section
          %ul.right
            %li.active
              {{#link-to 'users.index'}}All users{{/link-to}}
            %li
              <a id="sign-out" class="alert right" {{action "logOut" id}}>Sign out</a>

      .row
        %h1.subheader.text-center Users list
        %ul.side-nav.text-center
          {{#each user in model}}
          %li {{#link-to 'users.show' user.id}}{{user.email}}{{/link-to}}
          {{/each}}


    // Show user
    %script{"data-template-name" => "users/show", type: "text/x-handlebars"}
      // Header
      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              %a{:href => "#"} Zodiac Mini
        %section.top-bar-section
          %ul.right
            %li.active
              {{#link-to 'users.index'}}All users{{/link-to}}
            %li
              <a id="sign-out" class="alert right" {{action "logOut" id}}>Sign out</a>

      .row
        %h1.subheader.text-center Horoscope for {{email}}

        .row{"data-equalizer" => ""}
          %ul.small-block-grid-1.medium-block-grid-3
            %li
              <button class="expand" {{action "horoscope" id "yesterday"}}>Yesterday</button>
              #yesterday.panel.text-center{"data-equalizer-watch" => ""}
                %p
                  Click
                  = succeed "" do
                    %strong Yesterday
                  to get forecast...
            %li
              <button class="expand" {{action "horoscope" id "today"}}>Today</button>
              #today.panel.text-center{"data-equalizer-watch" => ""}
                %p Loading...
            %li
              <button class="expand" {{action "horoscope" id "tomorrow"}}>Tomorrow</button>
              #tomorrow.panel.text-center{"data-equalizer-watch" => ""}
                %p
                  Click
                  = succeed "" do
                    %strong Tomorrow
                  to get forecast...
