!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Zodiac Mini"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body

    = yield

    = javascript_include_tag "application"


    // Sign in
    %script{"data-template-name" => "sessions/new", type: "text/x-handlebars"}
      %h1 Sign in
      {{sign-in-form submit="submit" submitTitle="Sign in"}}

    %script{"data-template-name" => "components/sign-in-form", type: "text/x-handlebars"}
      <form {{action "submit" on="submit"}}>
      %p
        %label Email {{input type="email" value=email}}
      %p
        %label Password {{input type="password" value=password}}

      <input class="button" type="submit" {{bind-attr value=submitTitle}}>
      %span or
      {{#link-to 'users.new'}}Register{{/link-to}}


    // Registration
    %script{"data-template-name" => "users/new", type: "text/x-handlebars"}
      %h1 Create New User
      {{sign-up-form submit="createUser" submitTitle="Register"}}

    %script{"data-template-name" => "components/sign-up-form", type: "text/x-handlebars"}
      <form {{action "submit" on="submit"}}>
      %p
        %label Email {{input type="email" value=email}}
      %p
        %label Birthday {{input type="date" value=birthday}}
      %p
        %label Password {{input type="password" value=password}}
      %p
        %label Password Confirmation {{input type="password" value=password_confirmation}}

      <input class="button" type="submit" {{bind-attr value=submitTitle}}>
      %span or
      {{#link-to 'sessions.new'}}Sign in{{/link-to}}


    // Users list
    %script{"data-template-name" => "users/index", type: "text/x-handlebars"}
      %h1 Users list
      %ul
        {{#each user in model}}
        %li {{#link-to 'users.show' user.id}}{{user.email}}{{/link-to}} ({{user.birthday}})
        {{/each}}


    // Show user
    %script{"data-template-name" => "users/show", type: "text/x-handlebars"}
      %h1 {{email}}
      %ul
        %li
          <button {{action "horoscope" id "yesterday"}}>Yesterday</button>
          #yesterday
        %li
          <button {{action "horoscope" id "today"}}>Today</button>
          #today
        %li
          <button {{action "horoscope" id "tomorrow"}}>Tomorrow</button>
          #tomorrow
      {{#link-to 'users.new'}}Register{{/link-to}}
      {{#link-to 'users.index'}}All users{{/link-to}}
      <button class="alert" {{action "logOut" id}}>Sign out</button>
